In [172]:
# Imports Pandas and NumpyLibrary.
import pandas as pd
import numpy as np

<h1><b>Question 1</b></h1>

In [173]:
# Python Version
! python --version

Python 3.12.2

In [174]:
# Reading the laptops text file.
df = pd.read_csv('/ML Zoomcamp/Homework/01/laptops.txt')

In [175]:
# Displaying the first 5 line of file.
df.head(5)

,Laptop,Status,Brand,Model,CPU,RAM,Storage,Storage type,GPU,Screen,Touch,Final Price
0,ASUS ExpertBook B1 B1502CBA-EJ0436X Intel Core...,New,Asus,ExpertBook,Intel Core i5,8,512,SSD,NaN,15.6,No,1009.00
1,Alurin Go Start Intel Celeron N4020/8GB/256GB ...,New,Alurin,Go,Intel Celeron,8,256,SSD,NaN,15.6,No,299.00
2,ASUS ExpertBook B1 B1502CBA-EJ0424X Intel Core...,New,Asus,ExpertBook,Intel Core i3,8,256,SSD,NaN,15.6,No,789.00
3,MSI Katana GF66 12UC-082XES Intel Core i7-1270...,New,MSI,Katana,Intel Core i7,16,1000,SSD,RTX 3050,15.6,No,1199.00
4,HP 15S-FQ5085NS Intel Core i5-1235U/16GB/512GB...,New,HP,15S,Intel Core i5,16,512,SSD,NaN,15.6,No,669.01

<h1><b>Question 2</b></h1>

In [176]:
# Displays the total rows in the file
print(len(df))

2160

<h1><b>Question 3</b></h1>

In [177]:
# Displays total unique laptop brands.
df['Brand'].nunique()

27

<h1><b>Question 4</b></h1>

In [178]:
# Number of Columns containing NAN
df.isnull().sum()

Laptop             0
Status             0
Brand              0
Model              0
CPU                0
RAM                0
Storage            0
Storage type      42
GPU             1371
Screen             4
Touch              0
Final Price        0
dtype: int64

<h1><b>Question 5</b></h1>

In [179]:
# Part 1: Filter dataframe to all Dells brands
filtered_df = df[
df['Brand'] =='Dell'
]
filtered_df

,Laptop,Status,Brand,Model,CPU,RAM,Storage,Storage type,GPU,Screen,Touch,Final Price
161,Dell Vostro 3510 Intel Core i3-1115G4/8 GB/256...,New,Dell,Vostro,Intel Core i3,8,256,SSD,NaN,15.6,No,599.00
271,Dell Vostro 3510 Intel Core i5-1135G7/8 GB/256...,New,Dell,Vostro,Intel Core i5,8,256,SSD,NaN,15.6,No,690.15
281,Dell Vostro 3520 Intel Core i7-1255U/16GB/512G...,New,Dell,Vostro,Intel Core i7,16,512,SSD,NaN,15.6,No,889.00
319,Dell Latitude 3520 Intel Core i5-1135G7/8GB/25...,New,Dell,Latitude,Intel Core i5,8,256,SSD,NaN,15.6,No,789.00
328,Dell Vostro 3510 Intel Core i5-1135G7/16 GB/51...,New,Dell,Vostro,Intel Core i5,16,512,SSD,NaN,15.6,No,869.00
...,...,...,...,...,...,...,...,...,...,...,...,...
1843,Dell Vostro 5301 Intel Core i5-1135G7/8GB/256G...,Refurbished,Dell,Vostro,Intel Core i5,8,256,SSD,NaN,13.3,No,420.74
1844,Dell Vostro 5301 Intel Core i5-1135G7/8GB/512G...,Refurbished,Dell,Vostro,Intel Core i5,8,512,SSD,NaN,13.3,No,511.59
1845,Dell Vostro 5502 Intel Core i5-1135G7/8GB/512G...,Refurbished,Dell,Vostro,Intel Core i5,8,512,SSD,NaN,15.6,No,549.93
1846,Dell XPS 13 9300 Intel Core i5-1035G1/8GB/512G...,Refurbished,Dell,XPS,Intel Core i5,8,512,SSD,NaN,13.4,No,699.00
1847,Dell XPS 7390 Intel Core i7-10510U/16GB/512GB ...,Refurbished,Dell,XPS,Intel Core i7,16,512,SSD,NaN,13.3,No,1086.88

In [180]:
# Part 2: Max Price for Dell Laptop
max_price = filtered_df['Final Price'].max()
max_price

3936.0

<h1><b>Question 6</b></h1>

In [181]:
# Part 1: Median value of screens
initial_median = df['Screen'].median()
initial_median

15.6

In [182]:
# Part 2: Most Frequent value of Screen
most_frequent_value = df['Screen'].mode()[0]
most_frequent_value

15.6

In [183]:
# Part 3: Fill in missing Values
df['Screen'] = df['Screen'].fillna(most_frequent_value)

In [184]:
# Part 4: New Median Value
new_median = df['Screen'].median()

In [185]:
# Final Answer
initial_median, most_frequent_value, new_median

(15.6, 15.6, 15.6)

<h1><b>Question 7</b></h1>

In [186]:
# Part 1: Filter the 'Innjoo' laptops
innjoo = df[
    df['Brand'].str.contains('innjoo', case=False)
]

innjoo

,Laptop,Status,Brand,Model,CPU,RAM,Storage,Storage type,GPU,Screen,Touch,Final Price
1478,InnJoo Voom Excellence Intel Celeron N4020/8GB...,New,Innjoo,Voom,Intel Celeron,8,256,SSD,NaN,15.6,No,311.37
1479,InnJoo Voom Excellence Pro Intel Celeron N4020...,New,Innjoo,Voom,Intel Celeron,8,512,SSD,NaN,15.6,No,392.55
1480,Innjoo Voom Intel Celeron N3350/4GB/64GB eMMC/...,New,Innjoo,Voom,Intel Celeron,4,64,eMMC,NaN,14.1,No,251.40
1481,Innjoo Voom Laptop Max Intel Celeron N3350/6GB...,New,Innjoo,Voom,Intel Celeron,6,64,eMMC,NaN,14.1,No,383.61
1482,Innjoo Voom Laptop Pro Intel Celeron N3350/6GB...,New,Innjoo,Voom,Intel Celeron,6,128,SSD,NaN,14.1,No,317.02
1483,Innjoo Voom Pro Intel Celeron N3350/6GB/128GB ...,New,Innjoo,Voom,Intel Celeron,6,128,eMMC,NaN,14.1,No,431.38

In [187]:
# Part 2: Select columns 'RAM', 'Storage', 'Screen'
df_innjoo = innjoo[['RAM', 'Storage', 'Screen']]

df_innjoo

      RAM  Storage  Screen
1478    8      256    15.6
1479    8      512    15.6
1480    4       64    14.1
1481    6       64    14.1
1482    6      128    14.1
1483    6      128    14.1

In [188]:
# Part 3: Get the underlying NumPy array
X = df_innjoo.to_numpy()
X

array([[  8. , 256. ,  15.6],
       [  8. , 512. ,  15.6],
       [  4. ,  64. ,  14.1],
       [  6. ,  64. ,  14.1],
       [  6. , 128. ,  14.1],
       [  6. , 128. ,  14.1]])

In [189]:
# Part 4: 4: Compute matrix-matrix multiplication between transpose of X and X
XTX = np.dot(X.T, X)
XTX

array([[2.52000e+02, 8.32000e+03, 5.59800e+02],
       [8.32000e+03, 3.68640e+05, 1.73952e+04],
       [5.59800e+02, 1.73952e+04, 1.28196e+03]])

In [190]:
# Part 5: Compute the pseudo-inverse of XTX
XTX_inv = np.linalg.pinv(XTX)
XTX_inv

array([[ 2.78025381e-01, -1.51791334e-03, -1.00809855e-01],
       [-1.51791334e-03,  1.58286725e-05,  4.48052175e-04],
       [-1.00809855e-01,  4.48052175e-04,  3.87214888e-02]])

In [191]:
# Part 6: Create array y
y = np.array([1100, 1300, 800, 900, 1000, 1100])
y

array([1100, 1300,  800,  900, 1000, 1100])

In [192]:
# Part 7: Multiply the inverse of XTX with the transpose of X, and then multiply the result by y
w = np.dot(np.dot(XTX_inv, X.T), y)
w

array([45.58076606,  0.42783519, 45.29127938])

In [199]:
# Part 8: Sum of all elements in the result (w)
sum_w = np.sum(w)
sum_w

91.29988062997106